@import "tailwindcss";

@theme {
  /* background */
  --color-bg-page:      #ffffff;
  --color-bg-container:  #f5faf6;
  --color-bg-navbar:    transparent;

  /* primary */
  --color-brand-primary: #afba41;

  /* text */
  --color-text-headline: #1e3510;
  --color-text-nav:      #2d4a1e;
  --color-text-muted:    #7a8a6a;

 /* border */
  --color-border-light:  #dde4d8;

   /* button */
  --color-btn-primary-text: #f0f4ee;

  /* fonts */
  --font-display: "Oswald", sans-serif;
  --font-body: "Inter", "Inter Fallback", sans-serif;

  /* border-radius */
  --radius-btn:             9999px;
}